octype html
html
  head
    block title
        title= title
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    link(href="/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/vendor/font-awesome/css/font-awesome.min.css", rel="stylesheet")    
    block css
  body
    block navbar
    block content        
    block footer